.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040; /* Ensure it is behind the modal */
}

.page-link {
  cursor: pointer;
}

.btn-close {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-close i {
  font-size: 1.5rem;
  color: #000;
}
